
{% extends 'layoutAdminExtra.twig' %}

{% block carouseledit %}

<div class="container white">
	<div class="row  py-5">
		<div class="col-12 d-flex justify-content-start">
			<a class="btn btn-danger mx-1" href="{{ 'admin/carousel' | url }}">
				<i class="fas fa-undo fa-2x"></i>
			</a>
			<a class="btn btn-danger mx-1" href="{{ 'admin' | url }}">
				<i class="fas fa-home fa-2x"></i>
			</a>
		</div>
{% for carousels in carousel %}
		<div class="col-12">
			<div class="" id="newuser">
				<form method="post" class="white my-3 p-3" enctype="multipart/form-data">
					<h3 class="bolder">Editar Carousel</h3>
					<div class="form-group">
						<h4>Sección = 1 imagen principal, sección = 2 se agrega como carousel.</h4>
						<input type="number" class="form-control" name="section" placeholder="Sección" value="{{ carousels.section }}" onblur="may(this.value, this.id)">
					</div>
					<div class="form-group">
						<h4>Titulo</h4>
						<input type="text" class="form-control" name="title" placeholder="Titulo" value="{{ carousels.title }}" onblur="may(this.value, this.id)">
					</div>
					<div class="form-group">
						<h4>Subtitulo</h4>
						<input type="text" class="form-control" name="subtitle" placeholder="Subtitulo" value="{{ carousels.subtitle }}" onblur="may(this.value, this.id)">
					</div>
					<div class="form-group">
						<h4>Url</h4>
						<input type="text" class="form-control" name="button" placeholder="Link del botón" value="{{ carousels.button }}" required>
					</div>

					<div class="d-flex flex-column">
				        <h4 class="text-dark py-2">Imagen actual:</h4>
				        <img class="cursor py-2" src="../../../{{ carousels.carousel }}" width="50%" data-toggle="modal" data-target="#carousel">
				      	<!-- Modal -->
				      	<div class="modal fade" id="carousel" tabindex="-1" role="dialog" aria-hidden="true">
				        	<div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
				          		<img class="p-1 white" src="../../../{{ carousels.carousel }}" width="100%">
				        	</div>
				      	</div>
				     </div>

					<div class="form-group">
						<h4 class="text-danger">Tamaño recomendado: 1920 x 1080</h4>
						<input type="file" class="form-control" name="carousel">
					</div>
					<input type="hidden" name="id" value="{{ carousels.id }}"></input>
					<button type="submit" class="btn btn-danger text-uppercase"><h4>Guardar</h4></button>
				</form>
			</div>
		</div>
{% endfor %}
	</div>

</div>

{% endblock %}