{% extends 'layoutAdminExtra.twig' %}

{% block editarvideo %}

<div class="container white">
	<div class="row  py-5">
		<div class="col-12 d-flex justify-content-start">
			<a class="btn btn-danger mx-1" href="{{ 'admin/videonuevo' | url }}">
				<i class="fas fa-undo fa-2x"></i>
			</a>
			<a class="btn btn-danger mx-1" href="{{ 'admin' | url }}">
				<i class="fas fa-home fa-2x"></i>
			</a>
		</div>
		<div class="col-12">
			{% for videos in video %}
				<form method="post" class="white my-3 p-3" enctype="multipart/form-data">
					<h3 class="bolder">Editar video</h3>

					<div class="form-group">
						<h4>Titulo</h4>
						<input type="text" class="form-control" name="titulo" placeholder="Titulo" value="{{ videos.title }}" onblur="may(this.value, this.id)">
					</div>

					<div class="form-group">
						<h4>Código de Youtube</h4>
						<input type="text" class="form-control" name="codigo" placeholder="Código de Youtube" value="{{ videos.codigo }}">
					</div>

					<div class="form-group">
						<h4>Descripción</h4>
						<textarea id="editor1" name="info" rows="25" class="p-4">{{ videos.informacion }}</textarea>
						<script>
						    CKEDITOR.replace( 'editor1' );
						</script>
					</div>

					<input type="hidden" name="id" value="{{ videos.id }}">
					<button type="submit" class="btn btn-danger text-uppercase"><h4>Guardar</h4></button>
				</form>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}