{% extends 'layoutAdminExtends.twig' %}

{% block users %}

<div class="container white">
	<div class="row  py-5">
		<h2>Datos de usuarios</h2>
		<div class="col-12 d-flex justify-content-start">
			<a class="btn btn-danger mx-1" href="{{ 'admin' | url }}">
				<i class="fas fa-undo fa-2x"></i>
			</a>
			<a class="btn btn-danger mx-1" href="{{ 'admin' | url }}">
				<i class="fas fa-home fa-2x"></i>
			</a>
			<a class="btn btn-danger mx-1" data-toggle="collapse" href="#newuser" role="button" aria-expanded="false" aria-controls="collapseExample">
				<i class="fas fa-user-plus fa-2x"></i>
			</a>
		</div>
		<div class="col-12">
			<div class="collapse" id="newuser">
				<form method="post" class="white my-3 p-3" enctype="multipart/form-data">
					<h3 class="bolder">Nuevo Usuario</h3>
					<div class="form-group">
						<input type="text" class="form-control" id="user" name="username" placeholder="Usuario" onblur="may(this.value, this.id)" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Nombre" onblur="may(this.value, this.id)">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Apellido" onblur="may(this.value, this.id)">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="email" name="email" placeholder="Correo" required>
					</div>
					<div class="form-group">
							<input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
					</div>
					<div class="form-group">
						<input type="file" class="form-control" id="imgProfile" name="imgProfile">
					</div>
					<button type="submit" class="btn btn-danger text-uppercase"><i class="fas fa-plus"></i></button>
				</form>
			</div>
		</div>

		<div class="col-12 py-3">
			<table class="table table-hover white">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col"><h4>NOMBRE</h4></th>
			      <th scope="col"><h4>USUARIO</h4></th>
			      <th scope="col"><h4>CORREO</h4></th>
			      <th scope="col"><h4>FOTO</h4></th>
			      <th scope="col"><h4>EDITAR</h4></th>
			      <th scope="col"><h4>ELIMINAR</h4></th>
			    </tr>
			  </thead>
			  <tbody class="text-dark">
				{% for user in users %}
				<tr>
					<td><p>{{ user.name }} {{ user.lastname }}</p></td>
			  		<td><p>{{ user.username }}</p></td>
			  		<td><p>{{ user.email }}</p></td>
			  		<td><a class="light rounded-circle p-1"><img src="../{{ user.profile_photo }}" width="50px"></a></td>
			  		<td><a href="{{'admin/users/useredit/' | url }}{{ user.id }}"><i class="text-green far fa-edit fa-2x"></i></a></td>
			  		<td><a href="{{'admin/users/delete/' | url }}{{ user.id }}"><i class=" text-danger far fa-times-circle fa-2x text-red"></i></a></td>
				</tr>
				{% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}