{% extends 'layoutExtends.twig' %}

{% block vernoticia %}

	<div class="white py-5">

	<div class="container-fluid">
		<div class="titulo pb-2">
			<h3 class="text-yellowdark text-uppercase">Noticias</h3>
		</div>
	</div>

	<div class="container">		
			<div class="row">
				{% for noticia in noticias %}
				<div class="col-lg-10 col-sm-12 d-flex flex-column">
					<h1>{{ noticia.title }}</h1>
					<div class="d-flex"><h4>Publicado:</h4>
						<h4 class="text-warning mx-2"> {{ noticia.date }}</h4>
					</div>
					<div class="border-title my-1"></div>
					
					<div class="">
						<iframe class="video-youtube" src="https://www.youtube.com/embed/{{ noticia.video }}?showinfo=0&color=white" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="compartir-redes d-flex justify-content-end p-3">
						<div class="d-flex">
							<a href="" data-size="large"><i class="fab fa-facebook-f fa-1x"></i></a>
							<a href="" data-size="large"><i class="fab fa-whatsapp fa-1x"></i></a>
							<a href="" data-size="large"><i class="fab fa-google-plus-g fa-1x"></i></a>
		                	<a href="" data-size="large"><i class="fab fa-twitter fa-1x"></i></a>
							<a href="" data-size="large"><i class="far fa-envelope fa-1x"></i></a>
						</div>
		             </div>
					<div class="px-3"><p>{{ noticia.description|raw }}</p></div>
				</div>
				{% endfor %}
				<div class="col-lg-2 col-sm-12 d-flex flex-column" style="width:100%; height:100%;">
					{% for adword in adwords %}
      					<div style="width:100%; height: 100%;" class="pb-2">{{ adword.script|raw }}</div>
    				{% endfor %}
				</div>
				<div class="col-sm-12">
					<div class="fb-comments" data-href="http://www.losfumancheros.com.mx/vernoticia/" data-width="100%" data-numposts="10"></div>
				</div>
			</div>
	</div>

	</div>	


{% endblock %}